* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    

}

.modal{
    left: 25vw;
}

.modal-header{
    background-color: #2b3f5d;
}

#modalCancelButton{
    background-color: #2b3f5d;
}

.container-fluid{
    width:60vw;
    height:90vh;
    background-color: #fff;
    margin-top:5vh;
    /* margin-bottom: 5vh; */
}

header {
    background-color: #2b3f5d;
    border-bottom: 10px solid #ffc107;
}

nav {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.navbar-brand{
    font-family: 'Merriweather', serif;
    font-size: 1.6rem !important;
    color: #fff;
}

nav .changedStyle {
    font-size: 0.8rem;
}

.navbar-nav{
    width:100%;
}
.navbar-nav .item1{
margin-left:auto;
}

.navbar-nav .item2{
    margin-left: 30px;
}

.nav-item .wraper{
    color:#fff;
    cursor:pointer;

}
.nav-item .wraper h5{
    display:inline-block;
    
}
.listSummarySection{
    /* font-family: 'Merriweather', serif; */
    margin-top: 20vh;
    padding-left: 2vw;
}
.listSummarySection h4{
    /* font-family: 'Merriweather', serif; */
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: underline;
    font-size: 2em;
}
.listSummarySection #inputNewListName{
    width: 80%;
}

.myListSummary{
    padding-left:20px;
}
 .myListSummary li{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /* font-family: 'Merriweather', serif; */
    text-transform: capitalize;
    list-style: none;
    font-size: 1.3em;
}

.myListSummary li p{
    display: inline-block;
    margin-left: 5px;
    font-size: 1.3em;
    font-weight: 300;
}

.myListSummary li i{
    color: #0097e6;
}

 #plusButton{
    margin-bottom:0;
    padding: 0.4rem ;
}

#minusButton{
    margin-bottom:0;
    padding: 0.4rem ;
}
.col-full-width {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #2b3f5d;
    height: 100vh;
    width: 100vw;
    text-align: center;
    -webkit-transition: left 1s ease;
    transition: left 1s ease;
}
.transitionForColFullWidth {
    left: -100vw;

}






.form-group2-flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width: 23vw;
    margin: 0 auto


}

.newList {
    color: #ffc107;
    cursor: pointer;
}


.newList h5 {
    display: inline-block;
    margin-left: 5px;
}



.not-visible{
    visibility: hidden;
}

.form {
    margin-top: 30vh;
    -webkit-transition: margin-left 0.5 ease;
    transition: margin-left 0.5 ease;
}


.form-group-1{
    margin:0 auto;

}

.form h1 {
    font-family: 'Merriweather', serif;
    font-size: 2.3rem;
    color: #fff;
}

.form .changedStyle {
    font-size: 1.5rem;
}

.form button {
    margin-top: 0;
}


.form-control {
    display: inline-block;
    width: 60%;
}

.btn-warning {
    margin-bottom: 3px;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.5rem;
    color: #fff;
}
.col1{
border-right:0.5px solid #2b3f5d;
margin-top:30px;

}
.list-types{
    /* display:flex;
    flex-direction: column; */
    /* margin-top: 30vh; */
    text-align: left;
    list-style: none;
}
.list-types .item
{
    color:#2b3f5d;
}




.list-wraper {
    position:relative;
    background-color: #fff;
    /* color: #000; */
    margin: 0 auto;
    margin-top: 20vh;
    width: 30vw;
    height: 500px;
    border:0.5px solid #ccae62;
    border-radius:10px;
}

.todo-list {
    margin-top: 3vh;
    text-align: left;
    
}
    
 #input-List-title{
    position:-webkit-sticky;
    position:sticky;
    left: 0;
    top: 0;
    width: 100%;
    text-transform: capitalize;
    margin-bottom: 3vh;
    border: 1px solid #ccae62;
     
}

#input-new-line{
    width:40%;
}

.changePlaceholderTextColor::-webkit-input-placeholder{
    color:#fff;
}

.changePlaceholderTextColor:-ms-input-placeholder{
    color:#fff;
}

.changePlaceholderTextColor::-ms-input-placeholder{
    color:#fff;
}

.changePlaceholderTextColor::placeholder{
    color:#fff;
}

.todo-list li {
    margin-bottom: 2vh;
    color: #495057;
    list-style: none;

}

.far {
    cursor: pointer;
}

.fa-circle {
    padding-right: 5px;
}

.fa-check-circle {
    padding-right: 5px;

}

.quantity{
    width: 39px;
    height: 21px;
    padding-left: 2px !important;
    border-radius:1px;
}
.hidden {
    display: none;
}

.list-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    padding-right: 10px;
    border-bottom: 0.5px solid #d1ccc0;
}

.check-list p {
    display: inline;
}

.edit-list {
    margin-left: auto;
    padding-right: 10px;
}

.edit-list .far {
    padding-right: 3px;
}

.inputForModal {
    width: 100%;
}

/* Bootstrap Classes Edited */

.text-danger{
    color: #b33939 !important;
}

.bg-primary{
    background-color:  #2b3f5d !important;
}


